<h1 class="header ui center aligned">Starcraft II Clans</h1>
<div class="ui action left icon input clan-search">
  <i class="search icon"></i>
  {{input value=clanTag placeholder="Clan Tag"}}
  <div id="searchClanButton" class="ui blue button" {{action 'searchClans'}}>Search For Clan</div>
</div>
